@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.append-products {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }
}

.append-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.append-products__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.append-products__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    margin-bottom: 80px;
  }
}

.append-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    outline: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.append-products__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.append-products__subtitle {
  margin: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight;
  color: $ad-special_dark-grey;
  text-transform: $text-transform;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.append-products__volume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.append-products__text {
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.append-products__surprise {
  background-color: rgba(104, 183, 56, 0.9);
  background-image: linear-gradient(rgba(104, 183, 56, 0.9,) 100%, #ffffff 100%), url("../../images/cat-catalog@2x.png");
  background-repeat: no-repeat;
  object-fit: cover;

  &--present::before {
    content: "";
    position: relative;
    background-image: url("../../icons/stack.svg#present-icon");
    display: block;
    background-size: 78px 80px;
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    margin: 0 auto;
    top: 59px;
    background-position: center center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.append-products__comment {
  font-size: 16px;
  line-height: 20px;
  color: $additional-color;
  padding-bottom: 44px;
  padding-top: 92px;
  width: 161px;
  min-height: 60px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.append-products__volume p {
  margin: 0;
}
