@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.example {
  background-color: #eaeaea;
  padding-top: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 72%, #eaeaea 50%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__title {
  margin: 0;
  font-family: $additional-font;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
  font-weight: $font-weight;
  margin-bottom: 40px;
}

.example__description {
  margin-bottom: 20px;
}

.example__checklist {

}

.example__checklist--wrapper {

}

.example__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
}

.example__stats {
  padding: 14px 20px 17px;
  position: relative;
  width: 124px;
  justify-content: center;
  outline: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__subtitle {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: $text-transform;
  color: $optional-color;
}

.example__signature {
  margin: 0 auto;
  font-size: 12px;
  line-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  width: 87px;
  text-align: center;
  background-color: #eaeaea;
}

.example__text {
  margin: 0;
  margin-top: 30px;
  font-family: $additional-font;
  line-height: 20px;
  text-transform: $text-transform;
  color: $optional-color;
  margin-bottom: 20px;
  text-align: center;
}

.example__toggles {

}
