@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.invitation {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.invitation__index {
  background-color: #ffffff;
}

.invitation__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
  }
}

.invitation__description {
  margin: 0;
  width: 140px;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: $text-transform;
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
    margin-right: auto;
  }
}

.invitation__adress {
  margin: 0;
  width: 140px;
  line-height: 20px;
  font-size: 16px;

  &--change {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 157px;
    margin-left: auto;
    text-align: right;

    &--change {
      margin-top: 24px;
    }
  }
}

