@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.promotion {
  padding-top: 27px;
  background-color: rgba(104, 183, 56, 0.9);
  background-image: linear-gradient(rgba(104, 183, 56, 0.9,) 302px, #ffffff 302px), url("../../images/index-images/cat-bg-mobile@1x.jpeg");
  background-repeat: no-repeat;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: #ffffff;
  }
}

.promotion__wrapper {

}

.promotion__header {

}

.promotion__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $additional-font;
  font-size: 36px;
  line-height: 36px;
  color: $additional-color;
  font-weight: $font-weight;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    width: 430px;
    text-align: left;
    margin-left: 100px;
  }
}

.promotion__intro {
  margin: 0;
  font-family: $additional-font;
  line-height: 14px;
  color: $additional-color;
  text-transform: $text-transform;
  text-align: center;
  margin-bottom: 29px;
}

.promotion__intro--succeed {

}

.promotion__image {
  display: block;
  margin: 0 auto;
}

.promotion__link {
  text-decoration: none;
  padding: 10px 64px;
  width: 280px;

  &--succeed {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

