@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.promotion {
  position: relative;
  top: 65px;
  padding-top: 27px;
  background-color: rgba(104, 183, 56, 0.9);
  background-image: linear-gradient(rgba(104, 183, 56, 0.9,) 302px, #ffffff 302px), url("../../images/index-images/cat-bg-mobile@1x.jpeg");
  background-repeat: no-repeat;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.promotion__wrapper {

}

.promotion__header {
  @media (min-width: $tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 80px;
  }
}

.promotion__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $additional-font;
  font-size: 36px;
  line-height: 36px;
  color: $additional-color;
  font-weight: $font-weight;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $optional-color;
    font-size: 60px;
    line-height: 60px;
    width: 430px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.promotion__intro {
  margin: 0;
  font-family: $additional-font;
  line-height: 14px;
  color: $additional-color;
  text-transform: $text-transform;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $optional-color;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}

.promotion__intro--succeed {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 52px;
  }
}

.promotion__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: -80px;
    margin-top: -12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -210px;
    margin-left: -182px;
  }
}

.promotion__link {
  text-decoration: none;
  padding: 10px 64px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 14px 24px;
    font-size: 20px;
    line-height: 26px;
  }

  &--succeed {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      position: absolute;
      z-index: 1;
      top: 380px;
      width: 242px;
    }

    @media (min-width: $desktop-width) {
      top: 432px;
    }
  }
}

.promotion__container {
  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }
}

